mq_to(to)
  s("all and (max-width: %s)", to - 1)
mq_from(from)
  s("all and (min-width: %s)", from)
mq_from_to(from, to)
  s("all and (min-width: %s) and (max-width: %s)", from, to - 1)

up_to_XS = mq_to($breakpoint-XS)
up_to_S = mq_to($breakpoint-S)
up_to_M = mq_to($breakpoint-M)
up_to_L = mq_to($breakpoint-L)
up_to_XL = mq_to($breakpoint-XL)

XS_and_up = mq_from($breakpoint-XS)
S_and_up = mq_from($breakpoint-S)
M_and_up = mq_from($breakpoint-M)
L_and_up = mq_from($breakpoint-L)
XL_and_up = mq_from($breakpoint-XL)

XS_to_S = mq_from_to($breakpoint-XS, $breakpoint-S)
XS_to_M = mq_from_to($breakpoint-XS, $breakpoint-M)
S_to_M = mq_from_to($breakpoint-S, $breakpoint-M)
S_to_L = mq_from_to($breakpoint-S, $breakpoint-L)
M_to_L = mq_from_to($breakpoint-M, $breakpoint-L)
M_to_XL = mq_from_to($breakpoint-M, $breakpoint-XL)
L_to_XL = mq_from_to($breakpoint-L, $breakpoint-XL)